<swal #successSwal title="Éxito" text="Logueado Correctamente!" icon="success" width='27rem'>
</swal>

<swal #errorSwal title="Error" text="Usuario o Password Incorrectos!!" icon="error">
</swal>

<div class="main-layout card-bg-1">
    <div class="container d-flex flex-column">
        <div class="row no-gutters text-center align-items-center justify-content-center min-vh-100">
            <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                <h1 class="font-weight-bold">Iniciar Sesión</h1>
                <p class="text-dark mb-3">Somos diferentes, te hacemos diferente.</p>
                <form novalidate [formGroup]='loginForm' (ngSubmit)="login()" class="mb-3">
                    <div class="form-group">
                        <label for="username" class="sr-only">Username</label>
                        <input formControlName="username" type="text" class="form-control form-control-md" id="username" placeholder="Username" autocomplete="off">
                        <p class="text-danger"
                        *ngIf="loginForm.controls['username'].errors?.required && (loginForm.controls['username'].touched || submitted)">
                        <span class="fa fa-exclamation-triangle"></span>
                        Username is required
                      </p>
                    </div>
                    <div class="form-group">
                        <label for="password" class="sr-only">Password</label>
                        <input formControlName="password" type="password" class="form-control form-control-md" id="password" placeholder="Password" autocomplete="off">
                        <p class="text-danger"
                        *ngIf="loginForm.controls['password'].errors?.required && (loginForm.controls['password'].touched || submitted)">
                        <span class="fa fa-exclamation-triangle"></span>
                        Password is required
                      </p>
                    </div>
                    <button [disabled]="loading" type="submit"  class="btn btn-primary btn-lg btn-block text-uppercase font-weight-semibold">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Entrar
                    </button>
                </form>

                <p style="color: white !important;">No tienes una cuenta? <a class="font-weight-semibold" style="color: #665dfe !important; cursor: pointer;" routerLink="/register">Registrarse</a>.</p>
            </div>
        </div> 
    </div>
</div>
